<section class="section">
  <div class="conteiner">
    <ul class="hero-list list">
      <li class="hero-list__item">
        <svg class="hero-icon" width="60" height="60">
          <use href="./images/hero/sprite__hero-icon.svg#icon-Group1"></use>
        </svg>
        <p class="hero-list__item-text">Adapted author's UPE program</p>
      </li>
      <li class="hero-list__item">
        <svg class="hero-icon" width="60" height="60">
          <use href="./images/hero/sprite__hero-icon.svg#icon-Group2"></use>
        </svg>
        <p class="hero-list__item-text">Modern teaching methods</p>
      </li>
      <li class="hero-list__item">
        <svg class="hero-icon" width="60" height="60">
          <use href="./images/hero/sprite__hero-icon.svg#icon-Group3"></use>
        </svg>
        <p class="hero-list__item-text">Financial guarantee the result</p>
      </li>
    </ul>
  </div>
</section>
