<section class="benefits">
  <div class="conteiner">
    <h2 class="visually-hidden">benefits</h2>
    <ul class="benefits-list list">
      <li class="benefits-list__item">
        <svg class="benefits-icon" width="60" height="60">
          <use href="./images/hero/sprite__hero-icon.svg#icon-Group1"></use>
        </svg>
        <p class="benefits-list__item-text">
          Adapted&nbsp;author's UPE&nbsp;program
        </p>
      </li>
      <li class="benefits-list__item">
        <svg class="benefits-icon" width="60" height="60">
          <use href="./images/hero/sprite__hero-icon.svg#icon-Group2"></use>
        </svg>
        <p class="benefits-list__item-text">Modern teaching&nbsp;methods</p>
      </li>
      <li class="benefits-list__item">
        <svg class="benefits-icon" width="60" height="60">
          <use href="./images/hero/sprite__hero-icon.svg#icon-Group3"></use>
        </svg>
        <p class="benefits-list__item-text">
          Financial guarantee the&nbsp;result
        </p>
      </li>
    </ul>
  </div>
</section>
