<section class="features" id="training">
  <div class="conteiner">
    <h2 class="features__title">Why do people choose us</h2>
    <ul class="features-list list">
      <li class="features-list__item">
        <p class="features-list__text">Training in small groups</p>
      </li>
      <li class="features-list__item">
        <p class="features-list__text">Rendered notes</p>
      </li>
      <li class="features-list__item">
        <p class="features-list__text">
          Each lesson has a goal and a specific result
        </p>
      </li>
      <li class="features-list__item">
        <p class="features-list__text">The real results of the teacher</p>
      </li>
      <li class="features-list__item">
        <p class="features-list__text">
          The course program meets the requirements of the MES of Ukraine
        </p>
      </li>
      <li class="features-list__item">
        <p class="features-list__text">Set of groups by level of knowledge</p>
      </li>
    </ul>
  </div>
</section>
