<!DOCTYPE html>
<html lang="en">
  <head></head>
  <!--Footer-->
  <body>
    <footer class="footer" id="footer">
      <div class="conteiner">
        <div class="footer__contacts">
          <div class="footer__contacts-logo">
            <a class="link" href="../src/index.html">
              <svg class="footer__contacts-logo-svg" width="80" height="20">
                <use href="../src/images/footer/sprite.svg#icon-hellen"></use>
              </svg>
              <p class="footer__contacts-text">
                <span class="text--accent">Hellish</span> english
              </p>
            </a>
          </div>
          <div class="footer__contacts-tablet">
            <a class="footer__contacts-phone link" href="tel:+380991234567"
              ><svg class="footer__contacts-phone-svg" width="20" height="20">
                <use
                  href="../src/images/footer/sprite.svg#icon-phone"
                ></use></svg
              >+38 (099) 123 45 67</a
            >
            <a
              class="footer__contacts-img"
              aria-label="Instagram"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
            </a>
          </div>
        </div>
        <p class="footer__right">&reg;All rights reserved, 2022</p>
      </div>
    </footer>
  </body>
</html>
