<!--Footer-->
<footer class="footer">
  <div class="footer__contacts">
    <div class="footer__contacts-logo">
      <a class="link" href="../src/index.html"
        >Hell<svg class="" width="22" height="30">
          <use href="../src/images/footer/sprite.svg#icon-campfire"></use></svg
        >EN</a
      >
      <a class="footer__contacts-text link" href=""
        ><span class="text--accent">Hellish</span> english</a
      >
    </div>

    <a class="footer__contacts-phone link" href="tel:+380991234567"
      ><svg class="" width="30" height="30">
        <use href="../src/images/footer/sprite.svg#icon-phone"></use></svg
      >+38 (099) 123 45 67</a
    >
    <img
      class="footer__contacts-img"
      src="../src/images/footer/instagram.png"
      alt="instagram"
    />
  </div>

  <p class="footer__right">&reg;All rights reserved, 2022</p>
</footer>
