<header class="header">
  <div class="conteiner flex">
    <a href="" class="logo link">
      <img
        src="./images/header/logo-mobile.png"
        alt="fire"
        class="logo-img"
        width="80"
      />
      <span class="logo-text">Hellish&nbsp;</span>english
    </a>
    <div class="menu-conteiner" data-menu>
      <nav>
        <ul class="navigation list">
          <li class="navigation__item">
            <a href="" class="navigation__link link">Studying program</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link link">About</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link link">Training options</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link link">Contacts</a>
          </li>
        </ul>
        <a href="" class="consultation link">Consultation by phone</a>
      </nav>
    </div>
    <button
      type="button"
      class="navigation__button-menu"
      aria-expanded="false"
      aria-controls="menu-conteiner"
      data-menu-button
    >
      <svg width="21" height="12" aria-label="Переключатель мобильного меню">
        <use
          class="icon-cross"
          href="./images/header/symbol-defs.svg#icon-close"
        ></use>
        <use
          class="icon-menu"
          href="./images/header/symbol-defs.svg#icon-menu"
        ></use>
      </svg>
    </button>
  </div>
</header>
