<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <!-- Form of Registration -->
    <section class="registration" id="tel-number">
      <div class="conteiner">
        <h2 class="registration__title">
          Registration for a <span class="text--accent">free</span> phone
          <span class="text--accent">consultation</span>
          on the nuances of English UPE
        </h2>
        <p class="registration__note">
          Leave a request for participation in a
          <span class="text--accent">free lesson</span>.<span
            class="registration__note--br"
          >
            A consultant will contact you and answer your questions
          </span>
        </p>

        <form class="registration__form">
          <label class="registration__form-label">
            <input
              class="registration__form-name"
              type="text"
              data-validate-field="name"
              name="Имя"
              placeholder="Name*"
              required
          /></label>
          <label class="registration__form-label">
            <input
              class="registration__form-tel"
              type="tel"
              data-validate-field="tel"
              name="Phone"
              placeholder="Phone*"
              required
          /></label>
          <button class="registration__btn" type="submit">
            i want a free lesson
          </button>
        </form>
      </div>
    </section>
  </body>
</html>
