<section class="registration">
  <p class="registration__note1">
    Registration for a <span class="text--accent">free</span> phone
    <span class="text--accent">consultation</span>
    on the nuances of English UPE
  </p>
  <p class="registration__note2">
    Leave a request for participation in a
    <span class="text--accent">free lesson</span>.
  </p>
  <p class="registration__note3">
    A consultant will contact you and answer your questions
  </p>
  <form class="registration__form">
    <input
      class="registration__form-name"
      type="text"
      name="Name"
      placeholder="Name*"
    />
    <input
      class="registration__form-tel"
      type="tel"
      name="Phone"
      placeholder="Phone*"
    />
    <button class="" type="submit">i want a free lesson</button>
  </form>
</section>
