<section class="reviews">
  <div class="conteiner">
    <h2 class="reviews__title">Feedback from graduates</h2>
    <div class="slider">
      <div class="slider__item">
        <article class="feedback">
          <div class="feedback__container">
            <div class="feedback__left-side">
              <img
                class="feedback__avatar"
                srcset="
                  ./images/reviews/avatar-01.png    1x,
                  ./images/reviews/avatar-01@2x.png 2x
                "
                src="./images/reviews/avatar-01.png"
                alt="Tonya Kucherovskaya"
                loading="lazy"
              />
              <svg class="feedback__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="feedback__meta">
              <h3 class="feedback__meta-title">Tonya Kucherovskaya</h3>
              <p class="feedback__meta-education">
                Graduated from 2015, National University of Bioresources and
                natural history of Ukraine
              </p>
              <p class="feedback__meta-description">
                In a short time with Elena, I mastered grammar and replenished
                my completely empty vocabulary. From the first lesson I realized
                that I was on my plate. Elena and I became friends because she
                was really worried about my success. She became an authority for
                me, but I did not tremble in class, fearing to make the
                slightest mistake. Now I can brag that I'm student ...
              </p>
              <a class="read-more" href="">Read more</a>
            </div>
          </div>
        </article>
        <article class="feedback">
          <div class="feedback__container">
            <div class="feedback__left-side">
              <img
                class="feedback__avatar"
                srcset="
                  ./images/reviews/avatar-02.png    1x,
                  ./images/reviews/avatar-02@2x.png 2x
                "
                src="./images/reviews/avatar-02.png"
                alt="Tonya Kucherovskaya"
                loading="lazy"
              />
              <svg class="feedback__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="feedback__meta">
              <h3 class="feedback__meta-title">Tonya Kucherovskaya</h3>
              <p class="feedback__meta-education">
                Graduated from 2015, National University of Bioresources and
                natural history of Ukraine
              </p>
              <p class="feedback__meta-description">
                In a short time with Elena, I mastered grammar and replenished
                my completely empty vocabulary. From the first lesson I realized
                that I was on my plate. Elena and I became friends because she
                was really worried about my success. She became an authority for
                me, but I did not tremble in class, fearing to make the
                slightest mistake. Now I can brag that I'm student ...
              </p>
              <a class="read-more" href="#">Read more</a>
            </div>
          </div>
        </article>
        <article class="feedback">
          <div class="feedback__container">
            <div class="feedback__left-side">
              <img
                class="feedback__avatar"
                srcset="
                  ./images/reviews/avatar-03.png    1x,
                  ./images/reviews/avatar-03@2x.png 2x
                "
                src="./images/reviews/avatar-03.png"
                alt="Tonya Kucherovskaya"
                loading="lazy"
              />
              <svg class="feedback__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="feedback__meta">
              <h3 class="feedback__meta-title">Tonya Kucherovskaya</h3>
              <p class="feedback__meta-education">
                Graduated from 2015, National University of Bioresources and
                natural history of Ukraine
              </p>
              <p class="feedback__meta-description">
                In a short time with Elena, I mastered grammar and replenished
                my completely empty vocabulary. From the first lesson I realized
                that I was on my plate. Elena and I became friends because she
                was really worried about my success. She became an authority for
                me, but I did not tremble in class, fearing to make the
                slightest mistake. Now I can brag that I'm student ...
              </p>
              <a class="read-more" href="#">Read more</a>
            </div>
          </div>
        </article>
        <article class="feedback">
          <div class="feedback__container">
            <div class="feedback__left-side">
              <img
                class="feedback__avatar"
                srcset="
                  ./images/reviews/avatar-04.png    1x,
                  ./images/reviews/avatar-04@2x.png 2x
                "
                src="./images/reviews/avatar-04.png"
                alt="Tonya Kucherovskaya"
                loading="lazy"
              />
              <svg class="feedback__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="feedback__meta">
              <h3 class="feedback__meta-title">Tonya Kucherovskaya</h3>
              <p class="feedback__meta-education">
                Graduated from 2015, National University of Bioresources and
                natural history of Ukraine
              </p>
              <p class="feedback__meta-description">
                In a short time with Elena, I mastered grammar and replenished
                my completely empty vocabulary. From the first lesson I realized
                that I was on my plate. Elena and I became friends because she
                was really worried about my success. She became an authority for
                me, but I did not tremble in class, fearing to make the
                slightest mistake. Now I can brag that I'm student ...
              </p>
              <a class="read-more" href="#">Read more</a>
            </div>
          </div>
        </article>
        <article class="feedback">
          <div class="feedback__container">
            <div class="feedback__left-side">
              <img
                class="feedback__avatar"
                srcset="
                  ./images/reviews/avatar-05.png    1x,
                  ./images/reviews/avatar-05@2x.png 2x
                "
                src="./images/reviews/avatar-05.png"
                alt="Tonya Kucherovskaya"
                loading="lazy"
              />
              <svg class="feedback__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="feedback__meta">
              <h3 class="feedback__meta-title">Tonya Kucherovskaya</h3>
              <p class="feedback__meta-education">
                Graduated from 2015, National University of Bioresources and
                natural history of Ukraine
              </p>
              <p class="feedback__meta-description">
                In a short time with Elena, I mastered grammar and replenished
                my completely empty vocabulary. From the first lesson I realized
                that I was on my plate. Elena and I became friends because she
                was really worried about my success. She became an authority for
                me, but I did not tremble in class, fearing to make the
                slightest mistake. Now I can brag that I'm student ...
              </p>
              <a class="read-more" href="#">Read more</a>
            </div>
          </div>
        </article>
        <article class="feedback">
          <div class="feedback__container">
            <div class="feedback__left-side">
              <img
                class="feedback__avatar"
                srcset="
                  ./images/reviews/avatar-06.png    1x,
                  ./images/reviews/avatar-06@2x.png 2x
                "
                src="./images/reviews/avatar-06.png"
                alt="Tonya Kucherovskaya"
                loading="lazy"
              />
              <svg class="feedback__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="feedback__meta">
              <h3 class="feedback__meta-title">Tonya Kucherovskaya</h3>
              <p class="feedback__meta-education">
                Graduated from 2015, National University of Bioresources and
                natural history of Ukraine
              </p>
              <p class="feedback__meta-description">
                In a short time with Elena, I mastered grammar and replenished
                my completely empty vocabulary. From the first lesson I realized
                that I was on my plate. Elena and I became friends because she
                was really worried about my success. She became an authority for
                me, but I did not tremble in class, fearing to make the
                slightest mistake. Now I can brag that I'm student ...
              </p>
              <a class="read-more" href="#">Read more</a>
            </div>
          </div>
        </article>
        <article class="feedback">
          <div class="feedback__container">
            <div class="feedback__left-side">
              <img
                class="feedback__avatar"
                srcset="
                  ./images/reviews/avatar-07.png    1x,
                  ./images/reviews/avatar-07@2x.png 2x
                "
                src="./images/reviews/avatar-07.png"
                alt="Tonya Kucherovskaya"
                loading="lazy"
              />
              <svg class="feedback__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </div>
            <div class="feedback__meta">
              <h3 class="feedback__meta-title">Tonya Kucherovskaya</h3>
              <p class="feedback__meta-education">
                Graduated from 2015, National University of Bioresources and
                natural history of Ukraine
              </p>
              <p class="feedback__meta-description">
                In a short time with Elena, I mastered grammar and replenished
                my completely empty vocabulary. From the first lesson I realized
                that I was on my plate. Elena and I became friends because she
                was really worried about my success. She became an authority for
                me, but I did not tremble in class, fearing to make the
                slightest mistake. Now I can brag that I'm student ...
              </p>
              <a class="read-more" href="#">Read more</a>
            </div>
          </div>
        </article>
      </div>

      <div class="slider__pagination">
        <div class="slider__thumb">
          <img
            class="slider__pic"
            srcset="
              ./images/reviews/avatar-01.png    1x,
              ./images/reviews/avatar-01@2x.png 2x
            "
            src="./images/reviews/avatar-01.png"
            alt="Tonya Kucherovskaya"
            loading="lazy"
            width="54"
            height="54"
          />
        </div>
        <div class="slider__thumb">
          <img
            class="slider__pic"
            srcset="
              ./images/reviews/avatar-02.png    1x,
              ./images/reviews/avatar-02@2x.png 2x
            "
            src="./images/reviews/avatar-02.png"
            alt="Tonya Kucherovskaya"
            loading="lazy"
            width="54"
            height="54"
          />
        </div>
        <div class="slider__thumb">
          <img
            class="slider__pic"
            srcset="
              ./images/reviews/avatar-03.png    1x,
              ./images/reviews/avatar-03@2x.png 2x
            "
            src="./images/reviews/avatar-03.png"
            alt="Tonya Kucherovskaya"
            loading="lazy"
            width="54"
            height="54"
          />
        </div>
        <div class="slider__thumb">
          <img
            class="slider__pic"
            srcset="
              ./images/reviews/avatar-04.png    1x,
              ./images/reviews/avatar-04@2x.png 2x
            "
            src="./images/reviews/avatar-04.png"
            alt="Tonya Kucherovskaya"
            loading="lazy"
            width="54"
            height="54"
          />
        </div>
        <div class="slider__thumb">
          <img
            class="slider__pic"
            srcset="
              ./images/reviews/avatar-05.png    1x,
              ./images/reviews/avatar-05@2x.png 2x
            "
            src="./images/reviews/avatar-05.png"
            alt="Tonya Kucherovskaya"
            loading="lazy"
            width="54"
            height="54"
          />
        </div>
        <div class="slider__thumb">
          <img
            class="slider__pic"
            srcset="
              ./images/reviews/avatar-06.png    1x,
              ./images/reviews/avatar-06@2x.png 2x
            "
            src="./images/reviews/avatar-06.png"
            alt="Tonya Kucherovskaya"
            loading="lazy"
            width="54"
            height="54"
          />
        </div>
        <div class="slider__thumb">
          <img
            class="slider__pic"
            srcset="
              ./images/reviews/avatar-07.png    1x,
              ./images/reviews/avatar-07@2x.png 2x
            "
            src="./images/reviews/avatar-07.png"
            alt="Tonya Kucherovskaya"
            loading="lazy"
            width="54"
            height="54"
          />
        </div>
      </div>
      <button class="slider__btn slider__btn--prev" type="button">
        <svg width="27" height="16">
          <use href="./images/icons.svg#icon-prev"></use>
        </svg>
      </button>

      <button class="slider__btn slider__btn--next" type="button">
        <svg width="27" height="16">
          <use href="./images/icons.svg#icon-next"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
