<section class="solving">
  <div class="conteiner">
    <h2 class="solving__title">
      The main problems of students in&nbsp;English UPE, we
      <span class="help">help</span> solve
    </h2>
    <div class="solving-board">
      <ul class="solving-board__list list">
        <li class="solving-board__item">
          <p class="solving-board__title">Grammar</p>
        </li>
        <li class="solving-board__item">
          <p class="solving-board__title">
            Inabidivty to understand spoken English
          </p>
        </li>
        <li class="solving-board__item">
          <p class="solving-board__title">
            Stingy vocabdivary for writing an essay
          </p>
        </li>
        <li class="solving-board__item">
          <p class="solving-board__title">Preparing alone</p>
        </li>
        <li class="solving-board__item">
          <p class="solving-board__title">
            Lack of a single knowledge resource
          </p>
        </li>
        <li class="solving-board__item">
          <p class="solving-board__title">Lack of self-organization</p>
        </li>
      </ul>
    </div>
  </div>
</section>
