<section class="solving">
    <h1 class="solving__title">
        The main problems of students in English UPE, which we <span class="help">help</span> to solve
    </h1>
    <div class="solving-board">
        <div class="solving-board__list">
            <div class="solving-board__item">
                <h3 class="solving-board__title">Grammar</h3>
            </div>
            <div class="solving-board__item">
                <h3 class="solving-board__title">Inabidivty to understand spoken English</h3>
            </div>
            <div class="solving-board__item">
                <h3 class="solving-board__title">Stingy vocabdivary for writing an essay</h3>
            </div>
            <div class="solving-board__item">
                <h3 class="solving-board__title">Preparing alone</h3>
            </div>
            <div class="solving-board__item">
                <h3 class="solving-board__title">Lack of a single knowledge resource</h3>
            </div>
            <div class="solving-board__item">
                <h3 class="solving-board__title">Lack of self-organization and laziness</h3>
            </div>
        </div>
    </div>
</section>