.footer {
  padding-top: 24px;
  padding-bottom: 20px;

  background-image: linear-gradient(
    to top,
    var(--primary-color),
    var(--primary-color) 68px,
    var(--primary-light) 68px
  );
  @media screen and (min-width: $tablet) {
    padding-top: 50px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 0;
  }
}

.footer__contacts {
  margin-bottom: 50px;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: flex-start;
    padding-top: 52px;
    margin-bottom: 74px;
  }
}

.footer__contacts-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0px;
    margin-right: 290px;
  }
}
.footer__contacts-logo-svg {
  @media screen and (min-width: $tablet) {
    width: 128px;
    height: 30px;
  }
}
.footer__contacts-text {
  font-weight: 700;
  font-size: 5px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--primary-color);

  @media screen and (min-width: $tablet) {
    font-size: 8px;
    line-height: 1.25;
  }
}

.text--accent {
  color: var(--accent-color);
}
.footer__contacts-tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.footer__contacts-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: var(--primary-color);

  @media screen and(max-width: 767px) {
    margin-bottom: 28px;
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 1.23;
    text-align: center;
    letter-spacing: 0.08em;
  }
}
.footer__contacts-phone::after {
  @media screen and (min-width: $tablet) {
    content: '';

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    display: block;
    width: 1px;
    height: 40px;
    background-color: var(--primary-text-color);
  }
}

.footer__contacts-phone-svg {
  margin-right: 10px;

  @media screen and (min-width: $tablet) {
    margin-right: 20px;
    width: 24px;
    height: 24px;
  }
  @media screen and (min-width: $desktop) {
    width: 30px;
    height: 30px;
  }
}

.footer__contacts-img {
  display: block;
  height: 40px;
  width: 40px;
  background-image: url(../images/footer/instagram.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 320px) {
    margin: 0 auto;
  }
}

.footer__right {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: var(--primary-text-color);

  @media screen and (min-width: 320px) {
    text-align: center;
  }
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}
