.footer {
  display: block;
}
.footer__contacts {
  padding-top: 24px;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet) {
    display: flex;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
  }

  @media screen and (min-width: $desktop) {
    padding: 53px 0px 53px 0px;
  }
}

.footer__contacts-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.04em;

  @media screen and (min-width: $desktop) {
    padding-left: 183px;
    margin-bottom: 0px;
  }
}

.footer__contacts-text {
  font-weight: 700;
  font-size: 5px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.text--accent {
  color: var(--accent-color);
}
.footer__contacts-tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
  }
}

.footer__contacts-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: var(--primary-color);
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0px;
  }
}
.footer__contacts-phone-svg {
  margin-right: 10px;

  @media screen and (min-width: $tablet) {
    margin-right: 20px;
  }
}

.footer__contacts-img {
  display: block;
  height: 40px;
  width: 40px;
  margin: 0 auto;
  background-image: url(../images/footer/instagram.png);

  @media screen and (min-width: $tablet) {
    display: inline-flex;
    margin-left: 20px;
    border-left: 1px solid var(--primary-text-color);
  }
}

.footer__right {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 2;

  @media screen and (min-width: $tablet) {
    justify-content: start;
    padding-left: 20px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: start;
    padding-left: 183px;
  }
}
