.flex-hero {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}

.hero__title {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;

  margin-bottom: 50px;
}
.hero-text__mod1 {
  color: #b9b9b9;
}
.hero-text__mod2 {
  color: #ff6b09;
}
.hero__lesson {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  background-color: var(--accent-color);
  color: #ffffff;

  margin-bottom: 54px;
}
.hero-list {
  display: flex;
  flex-direction: column;
}
.hero-list__item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.65;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
}
.hero-list__item {
  display: flex;
}
.hero-list__item-text {
  margin-left: 14px;
}
.hero__img {
  margin: auto;
}
