.registration {
  padding: 55px 0;
  height: auto;
  background-color: var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/registration/registration-bg-mobile.png);

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 68px;
    background-image: url(../images/registration/registration-bg-tablet.png);
  }
}

.registration__note1 {
  font-weight: 800;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-light);
  margin-bottom: 25px;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    width: 625px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.registration__note2 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--primary-light);

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    width: 545px;
    margin: 0 auto;
  }
}

.registration__note3 {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--primary-light);
  margin-bottom: 43px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    width: 545px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 5px;
  }
}

.registration__form-label {
  display: flex;
  flex-direction: column-reverse;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;

  @media screen and (min-width: $mobile) {
    align-items: center;
  }
}

.registration__form-name {
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 28px;
  background-color: transparent;
  border: 1px solid var(--primary-light);

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: var(--primary-light);

  @media screen and (min-width: $mobile) {
    width: 390px;
  }
}

.registration__form-name::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: var(--primary-light);
}

.registration__form-tel {
  width: 100%;
  height: 48px;
  margin-bottom: 50px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 28px;
  background-color: transparent;
  border: 1px solid var(--primary-light);

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: var(--primary-light);

  @media screen and (min-width: $mobile) {
    width: 390px;
    margin-bottom: 30px;
  }
}

.registration__form-tel::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: var(--primary-light);
}

.registration__btn {
  width: 260px;
  height: 48px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--primary-light);
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $mobile) {
    width: 260px;
  }

  @media screen and (min-width: $desktop) {
    width: 354px;
  }
}

.registration__btn:hover,
.registration__btn:focus {
  border: 1px solid;
  border-color: var(--primary-light);
}
