.registration {
  max-width: 1680px;
  margin: 0 auto;
  padding: 55px 0;

  background-color: var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/registration/registration-bg-mobile.png);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/registration/registration-bg-mobile@2x.png);
  }

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 68px;
    background-image: url(../images/registration/registration-bg-tablet.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/registration/registration-bg-tablet@2x.png);
    }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 62px;
    background-image: url(../images/registration/registration-bg-desktop.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/registration/registration-bg-desktop@2x.png);
    }
  }
}

.registration__title {
  font-weight: 800;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-light);
  margin-bottom: 25px;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    width: 625px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  @media screen and (min-width: $desktop) {
    width: 980px;
    font-size: 46px;
  }
}

.registration__note {
  margin-bottom: 43px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--primary-light);

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    width: 545px;
    margin: 0 auto;
  }

  @media screen and (min-width: $desktop) {
    width: 1090px;
    font-size: 30px;
    line-height: 1.23;
  }
}
.registration__note--br {
  display: block;
}

.registration__form {
  @media screen and (min-width: $tablet) {
    padding-top: 40px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 56px;
  }
}

.registration__form-label {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column-reverse;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;

  @media screen and (min-width: $mobile) {
    align-items: center;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.registration__form-name {
  width: 100%;
  height: 48px;
  // margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 28px;
  background-color: transparent;
  border: 1px solid var(--primary-light);

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: var(--primary-light);

  @media screen and (min-width: $mobile) {
    width: 390px;
  }

  @media screen and (min-width: $desktop) {
    width: 478px;
    height: 70px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 40px;
    // margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.21;
  }
}

.registration__form-name::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: var(--primary-light);

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.21;
  }
}

.registration__form-tel {
  width: 100%;
  height: 48px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 28px;
  background-color: transparent;
  border: 1px solid var(--primary-light);

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: var(--primary-light);

  @media screen and (min-width: $mobile) {
    width: 390px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    width: 478px;
    height: 70px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 40px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 1.21;
  }
}

.registration__form-tel::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: var(--primary-light);

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.21;
  }
}

.registration__btn {
  width: 260px;
  height: 48px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--primary-light);
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $mobile) {
    width: 260px;
  }

  @media screen and (min-width: $desktop) {
    width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 1.21;
  }
}

.registration__btn:hover,
.registration__btn:focus {
  border: 1px solid;
  border-color: var(--primary-light);
}

// validation
.registration__form-label {
  padding-top: 20px;
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
