.reviews {
  padding-bottom: 70px;
  @media screen and (min-width: $desktop) {
    padding-bottom: 130px;
  }
}
.reviews__title {
  margin-bottom: 25px;

  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: $tablet) {
    margin-bottom: 56px;
    font-size: 26px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 76px;
    font-size: 46px;
  }
}

.slider {
  position: relative;
  // outline: 1px solid red;

  @media screen and (min-width: $desktop) {
    width: 1090px;
    margin: 0 auto;
  }
}

.slider__btn {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &--prev,
  &--next {
    position: absolute;
    bottom: 15px;

    @media screen and (min-width: $tablet) {
      top: 170px;
    }
  }

  &--prev {
    left: 0;

    @media screen and (min-width: $tablet) {
      left: -25px;
    }

    @media screen and (min-width: $desktop) {
      left: -98px;
    }
  }

  &--next {
    right: 0;

    @media screen and (min-width: $tablet) {
      right: -25px;
    }
    @media screen and (min-width: $desktop) {
      right: -98px;
    }
  }

  &.slick-disabled {
    filter: grayscale(0.8);
  }
}

.slider__item {
  margin-bottom: 52px;

  @media screen and (min-width: $tablet) {
    margin: -26px;
  }
}

.feedback {
  padding: 26px;
}

.feedback__container {
  @media screen and (min-width: $tablet) {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }
}

.feedback__left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $mobile-only) {
    margin-bottom: 22px;
  }
}

.feedback__avatar {
  margin-bottom: 18px;
}

.feedback__meta {
  @media screen and (max-width: $mobile-only) {
    text-align: center;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 46px;
  }
}

.feedback__meta-title {
  font-weight: 800;
  font-size: 14px;
  line-height: 37px;
  letter-spacing: 0.08em;

  color: #ff6b09;

  @media screen and (max-width: $mobile-only) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $tablet) {
    font-size: 20px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 30px;
  }
}
.feedback__meta-education {
  font-size: 12px;
  line-height: 1.29;
  letter-spacing: 0.08em;

  color: #b9b9b9;
  @media screen and (max-width: $mobile-only) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 412px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 482px;
    font-size: 14px;
  }
}
.feedback__meta-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.56;
  @media screen and (min-width: $tablet) {
    max-width: 412px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 706px;
    font-size: 18px;
  }
}

.read-more {
  font-size: 12px;
  line-height: 1.56;

  text-decoration-line: underline;
  color: #ff6b09;
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}

.slider__pagination {
  width: 186px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;

  @media screen and (min-width: $tablet) {
    width: 558px;
    margin-top: 40px;
  }
}

.slider__thumb {
  width: 54px;
  height: 54px;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.slider__pic {
  display: block;
  object-fit: contain;
  object-position: center;

  transition: outline 200ms ease;

  .slick-slide.slick-current & {
    outline: 2px solid var(--accent-color);
    outline-offset: -2px;
    border-radius: 50%;
  }
}
