.solving {
  display: block;
  flex-wrap: wrap;
  position: relative;

  background-color: var(--primary-color);
  background-image: linear-gradient(
    to bottom var(--primary-color) ,
    var(--primary-light)); 
    background-position: 78% 22%;
  background-repeat: no-repeat;
//   margin-bottom: 130px;
}
.solving__title {
  display: block;
  height: 180px;
  text-align: left;
//   flex-basis: calc(100% - 149px);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  padding-top: 100px;
  margin-left: 11%;
  margin-right: 41%;
  margin-bottom: 68px;
  color: var(--primary-light);
  
}


.help {
  color: var(--accent-color);
}

.solving-board {
  display: block;
  position: relative;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  color: var(--primary-color);
  margin-left: 11%;
  margin-right: 11%;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 10%;
padding-right: 10%;
  align-items: center;
  background-color: var(--primary-light);
}

.solving-board__list {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  align-items: start;
  letter-spacing: 0.08em;
  color: var(--primary-color);
  background-color: var(--primary-light);
  display: grid;
  grid: auto auto / auto auto auto;
  
//   padding: 1% 2%;
//   row-gap: 40px;
}

.solving-board__title::before {
  counter-increment: section;
  content: '— ' counter(section) '';
  display: flex;
  color: var(--accent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 164.9%;
  

  align-items: top;
  letter-spacing: 0.08em;
}

.solving-board__item {
    display: inline-block;
    // width: calc(100% - 306px) / 3;
    padding-top: 2%; 
    padding-bottom: 2%;
     
    /* TODO: last child padding not*/ 
    text-align: left;
    // vertical-align: text-top;
    
    margin-left: 40px;
&:not-last-child {
    margin-left: 0px;  
}
}