.about-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */
  letter-spacing: 0.03em;
  color: var(--primary-color);

  margin-bottom: 30px;

  @media screen and (min-width: 1440px) {
    font-size: 46px;
    line-height: 130%;
    /* or 60px */
    margin-bottom: 50px;
  }
}


.teacher__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;

  color: var(--primary-color);

  @media screen and (min-width: 1440px) {
    font-size: 30px;
    line-height: 1.23;
  }
  @media screen and (max-width: 767.98px) {
    margin-top: 20px;
  }

}

.teacher__border{
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #B9B9B9;
    width: 100%;
}
.teacher__line{
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: var(--accent-color);

    @media screen and (max-width: 767.98px) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      @media screen and (min-width: 768px) {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      @media screen and (min-width: 1440px) {
        margin-top: 43px;
        margin-bottom: 43px;
      }
}


.teacher__txt {
  font-weight: 600;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  @media screen and (max-width: 767.98px) {
    font-size: 14px;
    line-height: 1.21;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.25;
  }
  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
}
.experience__list{
    margin-bottom: 20px;
    @media screen and (max-width: 767.98px) {
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
}

.experience__txt {
  font-weight: 500;
  color: var(--primary-text-color);

  @media screen and (max-width: 767.98px) {
    font-size: 12px;
    line-height: 1.66;
  }
  @media screen and (min-width: 768px) {
    font-size: 10px;
    line-height: 2;
  }
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.55;
  }
}
.sertificate{
    @media screen and (max-width: 767.98px) {
        text-align: center;
      }
}

.sertificate__link {

  text-decoration-line: underline;
  color: var(--accent-color);

  @media screen and (max-width: 1439.98px) {
    font-size: 12px;
    line-height: 1.66;
  }
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.55;
  }
}


