.section-guarantee{
  padding-top: 0px;
}
.about-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */
  letter-spacing: 0.03em;
  color: var(--primary-color);

  margin-bottom: 30px;

  @media screen and (min-width: 1440px) {
    font-size: 46px;
    line-height: 130%;
    /* or 60px */
    margin-bottom: 50px;
  }
}
.about__teacher{
  @media screen and (min-width: 768px) {
    display: flex;
  }

}
.teacher{
  @media screen and (min-width: 768px) {
    width: 403px;
    height: 461px;
    margin-left: 42px;
  }
  @media screen and (min-width: 1440px) {
    width: 642px;
    height: 668px;
    margin-left: 60px;

  }


}
.teacher__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;

  color: var(--primary-color);

  @media screen and (min-width: 1440px) {
    font-size: 30px;
    line-height: 1.23;
  }
  @media screen and (max-width: 767.98px) {
    margin-top: 20px;
  }

}


.teacher__list{
  @media screen and (max-width: 767.98px) {
    width: 100%;
    height: 179px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}

.teacher__item::before{
  content: " ";
  background-image: url(/src/images/teacher/svg/Vector.svg);
  width: 18;
  height: 14;
  background-size: contain;
  flex-shrink: 0;
  @media screen and (min-width: 1440px) {
    width: 25;
    height: 20;
  }

}

.teacher__item{
  @media screen and (max-width: 767.98px) {

  display: flex;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}



.teacher__item:not(:last-child){
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 30px;
  }
}


.teacher__border{
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #B9B9B9;
    width: 100%;
}
.teacher__line{
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: var(--accent-color);

    @media screen and (max-width: 767.98px) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      @media screen and (min-width: 768px) {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      @media screen and (min-width: 1440px) {
        margin-top: 43px;
        margin-bottom: 43px;
      }
}


.teacher__txt {
  font-weight: 600;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  @media screen and (max-width: 767.98px) {
    margin-left: 9px;
    font-size: 14px;
    line-height: 1.21;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.25;
    margin-left: 10px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
}

.experience__item:not(:last-child){
  @media screen and (max-width: 767.98px) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 28px;
  }
}

.experience__txt {
  font-weight: 500;
  color: var(--primary-text-color);

  @media screen and (max-width: 767.98px) {
    font-size: 12px;
  }
  @media screen and (min-width: 768px) {
    font-size: 10px;
    line-height: 2;
  }
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.55;
  }
}
.sertificate{
  margin-top: 20px;
    @media screen and (max-width: 767.98px) {
        text-align: center;
      }
}

.sertificate__link {
  display: inline-block;
  margin-top: 20px;
  text-decoration-line: underline;
  color: var(--accent-color);

  @media screen and (max-width: 1439.98px) {
    font-size: 12px;
    line-height: 1.66;
  }
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.55;
  }
}


